/*
SOME EXTRA IDEAS:
1. Wiki for each link
2. Hints for each links
3. Randomized questions
4. Multiple questions
5. Timer for each link
6. User profiles!

*/

.teststuff {
	color: red;
}

.NODE0 {
  height: 100px;
  width: 150px;
  background-color: #555;
  position: relative;
  top: 30px;
  left: 675px;
  z-index: 1;
}

.L0-1 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(-20px)
      translateX(700px)
      rotate(90deg);
  position: absolute;
}

.L0-1:hover {
  border-bottom: 5px dotted blue;
}

.NODE1 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 130px;
  left: 700px;
  z-index: 1;
}

.L1-2 {
    width: 200px;
    height: 100px;
    border-bottom: 5px dotted red;
    -webkit-transform:
        translateY(50px)
        translateX(770px)
        rotate(60deg);
    position: absolute;
}

.L1-2:hover {
  border-bottom: 5px dotted blue;
}

.NODE2 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 200px;
  left: 850px;
  z-index: 1;
}

.L1-3 {
    width: 200px;
    height: 100px;
    border-bottom: 5px dotted red;
    -webkit-transform:
        translateY(-10px)
        translateX(520px)
        rotate(-60deg);
    position: absolute;
}

.L1-3:hover {
  border-bottom: 5px dotted blue;
}

.NODE3 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 100px;
  left: 550px;
  z-index: 1;
}

.L2-4 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(100px)
      translateX(850px)
      rotate(90deg);
  position: absolute;
}

.L2-4:hover {
  border-bottom: 5px dotted blue;
}

.NODE4 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 200px;
  left: 850px;
  z-index: 1;
}

.L3-5 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(0px)
      translateX(550px)
      rotate(90deg);
  position: absolute;
}

.L3-5:hover {
  border-bottom: 5px dotted blue;
}

.NODE5 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 100px;
  left: 550px;
  z-index: 1;
}

.L4-6 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(100px)
      translateX(850px)
      rotate(90deg);
  position: absolute;
}

.L4-6:hover {
  border-bottom: 5px dotted blue;
}

.L5-6 {
  width: 300px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(160px)
      translateX(600px)
      rotate(-150deg);
  position: absolute;
}

.L5-6:hover {
  border-bottom: 5px dotted blue;
}

.NODE6 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 200px;
  left: 850px;
  z-index: 1;
}

.L4-7 {
  width: 300px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(20px)
      translateX(650px)
      rotate(150deg);
  position: absolute;
}

.L4-7:hover {
  border-bottom: 5px dotted blue;
}

.L5-7 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(0px)
      translateX(550px)
      rotate(90deg);
  position: absolute;
}

.L5-7:hover {
  border-bottom: 5px dotted blue;
}

.NODE7 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 100px;
  left: 550px;
  z-index: 1;
}

.L6-8 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(100px)
      translateX(850px)
      rotate(90deg);
  position: absolute;
}

.L6-8:hover {
  border-bottom: 5px dotted blue;
}

.NODE8 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 200px;
  left: 850px;
  z-index: 1;
}

.L7-9 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(0px)
      translateX(550px)
      rotate(90deg);
  position: absolute;
}

.L7-9:hover {
  border-bottom: 5px dotted blue;
}

.NODE9 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 100px;
  left: 550px;
  z-index: 1;
}

.L9-10 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(60px)
      translateX(620px)
      rotate(60deg);
  position: absolute;
}

.L9-10:hover {
  border-bottom: 5px dotted blue;
}


.L8-10 {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(100px)
      translateX(780px)
      rotate(120deg);
  position: absolute;
}

.L8-10:hover {
  border-bottom: 5px dotted blue;
}


.NODE10 {
  height: 100px;
  width: 100px;
  background-color: #555;
  position: relative;
  top: 200px;
  left: 700px;
  z-index: 1;
}

.L10-M {
  width: 200px;
  height: 100px;
  border-bottom: 5px dotted red;
  -webkit-transform:
      translateY(200px)
      translateX(700px)
      rotate(90deg);
  position: absolute;
}

.L10-M:hover {
  border-bottom: 5px dotted blue;
}
